@font-face {
    font-family: myFirstFont;
    src: url(./fonts/Halva-qZY3r.otf);
}

body {
    margin: 0px;
}

.nav-wrapper {
    position: fixed;
    z-index: 10;
    width: 100%;
}

.navbar {
    padding: 10px 20px;
    background-color: rgb(93, 93, 255);
}

.navbar-box {
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 70%;
    text-align: right;
    margin-right: 30px;
}

.navbar-searchbox {
    width: 100%;
    position: relative;
}

.navbar-login {
    width: 50%;
    text-align: center;
}

.navbar-cart, .navbar-wishlist {
    width: 50%;
    text-align: center;
    color: white;
    font-size: 1.3em;
}

.navbar-searchbox input {
    width: 90%;
    padding: 10px 20px;
}

.navbar-login button {
    padding: 10px 30px;
    border: none;
    background-color: white;
    color: rgb(93, 93, 255);
}

.navbar-logo img {
    width: 70px;
    height: 55px;
}

.navbar-searchbox i {
    position: absolute;
    right: 5%;
    top: 10px;
    font-size: 1.1em;
    color: rgb(93, 93, 255);
}

.navbar-cart p, .navbar-wishlist p {
    margin: 0px;
    display: inline;
}

.navbar-cart i:nth-child(3), .navbar-cart i:nth-child(1) {
    display: none;
    margin-right: 10px;
}

/*slider*/

.slider-box {
    margin: 0;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slider-image {
    width: 100%;
    height: 500px;
    margin-top: 60px;
}

.slider-pic {
    position: absolute;
    animation: round 16s infinite;
    opacity: 0;
    width: 100%;
}

@keyframes round {
    25% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

.slider-box div:nth-child(4) {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -ms-animation-delay: 12s;
    -o-animation-delay: 12s;
    animation-delay: 12s;
}

.slider-box div:nth-child(3) {
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -ms-animation-delay: 8s;
    -o-animation-delay: 8s;
    animation-delay: 8s;
}

.slider-box div:nth-child(2) {
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -ms-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s;
}

.slider-box div:nth-child(1) {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

/*product display on home-------------------------------------------------------------------------------------------------------*/

.product-display-slider {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    box-shadow: 0px 1px 9px rgb(190, 190, 190);
    padding: 30px 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.product-display-slider-heading {
    border-bottom: 1px solid rgb(177, 177, 177);
    padding: 20px 0px;
}

.product-display-slider-heading h1 {
    display: inline;
    font-family: myFirstFont;
    letter-spacing: 0.1px;
}

.product-display-slider-heading button {
    float: right;
    padding: 10px 30px;
    background-color: rgb(93, 93, 255);
    border: none;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 1px 9px rgb(190, 190, 190);
}

.product-display-slider-cards {
    display: flex;
    overflow-x: scroll;
    text-align: center;
    padding: 20px;
}

::-webkit-scrollbar {
    height: 2px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    background-clip: content-box;
}

/* Handle*/

::-webkit-scrollbar-thumb {
    background: rgb(199, 199, 199);
    border-radius: 20px;
}

/*Handle on hover */

/* product slider box*/

.product-display-slider-box img {
    width: 150px;
    height: 200px;
}

.product-display-slider-box p, .product-display-slider-box b {
    text-align: center;
}

.product-display-slider-box {
    margin-right: 20px;
}

.product-display-slider2 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    box-shadow: 0px 1px 9px rgb(190, 190, 190);
    padding: 30px 20px;
    margin-right: 10px;
    margin-left: 10px;
}
/*offer cards-------------------------------------------------------------------------------------------------------------*/

.offer-cards-box {
    display: flex;
}

.offer-cards1 {
    background-image: url("./images/slider1.jpg");
}

.offer-cards2 {
    background-image: url("./images/slider2.jpg");
}

.offer-cards3 {
    background-image: url('./images/slider3.jpg');
}

.offer-cards1, .offer-cards2, .offer-cards3 {
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 450px;
    margin: 20px;
    border-radius: 10px;
}
